*{
    background-color: #E5E7EB;
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-align: center;

} 

h1{
    background-color: #E5E7EB;
}

.scoreboard{
    color:#1F2937;
    display: flex;
    margin: 8px;
    justify-content: center;
}

.choice{
    height:60px;
    width:75px;
    font-size: 35px;
    margin:8px;
}
.choice:hover{
    background: #b1b2b4;
    cursor: pointer;
}